html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body{
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;	
	text-transform: uppercase;
	background-color: #f2f2f2;
}
img{
	max-width: 100%;
	height: auto;
}
 
 .main-picture{
 	margin:0px auto;
 }
.wrapper{
	max-width: 1200px;
	width: 100%;
	margin:0 auto;
	background-color: white;
}

.logo{
	
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}

.logo img{
	width: 140px;
	height: auto;
}

.nav-list{
	display: flex;
	font-size: 14px;
	list-style-type: none;	
	line-height: 26px;
	font-weight: bold;	
	margin-top: 0;
	margin-bottom: 0px;
	padding-left: 0;
	text-align: center;
}

.nav-list li{
	text-align: center;
	width: 240px;
	padding-top: 13px;
	padding-bottom: 15px;
}

.nav-list li:nth-child(2){
	margin-right: 240px;
}

.nav-list li:first-child{
	text-align: left;
	padding-left: 72px;
}

.nav-list li:last-child{
	text-align: right;
	padding-right: 72px;
}

.nav-list a{
	text-decoration: none;
	color: #000000;
}

.nav-list a:hover{
	color: #81b4d3;
}

.nav-list a:focus{
	color: #cacaca;
}

.main-picture{
	 
	min-height: 508px;
	background-image: url("../img/background-photo.png") no-repeat ;
	background-size: 400px 350px;
}
.about-city{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	text-align: center;
	padding-top: 62px;	
	padding-right: 340px;
	padding-left: 340px;
	padding-bottom: 50px;
}

.about-city h2{
	margin: 0px;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold; 
	padding-bottom: 26px;
}

.about-city p{
	margin: 0px;
	color: #333333; 
	font-size:14px;
	line-height: 26px;
	font-weight: normal;
	 
	
}

.reasons-image img {
	display: block; 
}

.reasons{
	display: flex;
	text-align: center;
	width: 1200px;	
}

.reasons-city{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #81b4d3;
	width: 400px;
	color: white;
	padding: 47px 60px 60px 60px;
	justify-content: space-around;
}

.reasons-city h2{
	margin: 0px;	
	width: 123px;
	line-height: 21px;
	font-size: 21px;
	font-weight: bold;	

}

.reasons-number{
	font-size: 14px;
}

.reasons-city .reasons-number{
	padding-top: 20px;
	padding-bottom: 24px;
	line-height: 21px;
	 
}

.reasons-city p{
	margin: 0px;
	line-height: 21px;
	font-size: 14px;
	font-weight: normal;	
	width: 282px;
	text-align: center;
}

.advantages{
	margin: 0px;
	display: flex;
	align-items: top;
	color: #333333;
	width: 1200px;	
}

.advantages-description{ 
	text-align: center;
	width: 400px;
	padding-top: 58px;
	padding-right: 74px;
	padding-bottom: 83px;
	padding-left: 73px;
}
 
.advantages-description p{
	margin: 0px;	
	text-align: center; 
	font-size: 14px;
	line-height: 21px;
	color: #696969;
}

.advantages-description h2{
	margin: 0px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	padding-bottom: 22px;
	padding-top: 30px;
}

.advantages-description:nth-child(2){
	padding-top: 59px;
	padding-left: 49px;
	padding-right: 50px;
}

.advantages-description:nth-child(3){
	padding-top: 54px;
	padding-left: 46px;
	padding-right: 44px;
}


.reasons-bridge{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #81b4d3;
	width: 400px;
	color: white;
	padding-top: 45px;
	padding-bottom: 60px;
	justify-content: space-between;
}

.reasons-bridge h2{
	margin: 0px;
	text-align: center;
	line-height: 21px;
	font-size: 	21px;
	font-weight: bold;	
}

.reasons-bridge p{
	margin:0px;

	text-align: center;
	line-height: 21px;
	font-size: 	14px;
	font-weight: normal;
	margin-left:  46px;
	margin-right: 37px;	 
}

 

.reasons-short{
	display: flex;
	width: 1200px;
	color: #333333;	
	text-align: center;
	justify-content: center;
}
 
.reasons-description{
	background-color: #eeeeee;
	width: 400px;
	padding-top: 45px;
	padding-left: 90px;
	padding-bottom: 60px;
	padding-right: 90px;
}

.reasons-description p{
	margin: 0px;
	line-height: 21px;
	font-size: 14px;
	font-weight: normal;
}
 

.reasons-description span{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 26px;
}

.reasons-description:nth-child(2){
	padding-top: 45px;
	padding-left: 45px;
	padding-right: 70px;
	 
}

.reasons-description:nth-child(3){
	padding-top: 45px;
	padding-left: 60px;
	padding-right: 76px;
}

.reasons-description h2{
	margin: 0px  auto;
	line-height: 21px;
	font-size: 21px;
	font-weight: bold;	
	width: 120px;
	  
}




.registration-form{
	margin: 0px auto;
	width: 1200px;
	text-align: center;
	padding-top: 26px;
	 
}



.form-wrapper{
	width: 576px;
	text-align: center;
	margin-left: 312px;
	margin-right: 312px;
}

.registration-form p{
	margin: 0px;
	color: #333333;	
	line-height: 26px;
	font-size: 	14px;
	font-weight: normal; 
	padding-left: 71px;
	padding-right: 70px;
	padding-bottom: 40px;
	text-align: center;
}

.form-headline{
	font-weight: bold;
	font-size: 30px;
}

.registration-form a{
	background-color: #766357;
	text-decoration: none;
	color: white;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	display: block;
	margin-right: 316px;
	margin-left: 316px;
	padding-top: 32px;
	padding-bottom: 30px;
	text-align: center; 
}

.registration-form a:hover{
	color: #ffffff;
	background-color: #604e43;
}

.registration-form a:focus{
	color: #857871;
	background-color: #503e33;
}

.visually-hidden{
	background-color: #f2f2f2;
	font-weight: bold;
	position: absolute;
	padding-left: 403px;
}


/* Форма поиска*/
.search-form{
	display: flex;
 	flex-direction:column;
	width: 568px;
	position: absolute;
	display: flex; 
  	flex-wrap: nowrap;
    background-color: white;
  	margin-right: 314px;
  	padding: 55px 55px 55px 60px;
    margin-left: 316px;
}

.form-hidden{
	/*display: none;*/
	animation: bounce 0.6s;
}


.modal-show {
  display: flex;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


.modal-error {
  animation: shake 0.6s;
}


.arrival-date, .departure-date{
	width: 458px;
	margin-bottom: 29px;
	
}

.arrival-date input, .departure-date input{
	width: 346px;
	padding: 4px 37px 8px 15px;
	float: right;
	background-color: #f2f2f2;
	border: none;
}

.arrival-date label, .departure-date label, .adults label, .kids label {
	float: left;
	padding: 5px 0 7px;
	line-height: 26px;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
}

.people-number{
	display: flex;
	width: 458px; 
	margin-bottom: 54px;
}

.kids{
	display: flex;
	justify-content: space-between;
	width: 229px;
	vertical-align: top;
}

.adults{
	display: flex;
	justify-content: space-around;
	vertical-align: top;
	width: 229px;
}

.kids input, .adults input{
	width: 38px;
	background-color: #f2f2f2;
	text-align: center;
}

 
.adults label{
	margin-right: 43px;
}
.adults input{
	padding: 0px;
	background-color: #f2f2f2;
	border: none;	
}

.kids label{
	margin-left: 50px;
	margin-right: 27px;
	
}
.kids input{
	padding: 0px;
	background-color: #f2f2f2;
	border: none;
}


.arrival-date div{
	position: absolute;
	right: 64px;
	top: 62px;
	color: #c2c2c2;;
}

.departure-date div{
	position: absolute;
	right: 64px;
	top: 129px;
	color: #c2c2c2;;
}

.adults button{
	width: 38px;
	background-color: #f2f2f2;
	border: none;
}

.kids button{
	width: 38px;
	background-color: #f2f2f2;
	border: none;
}

.find-button{
	padding: 14px 20px 25px 10px;
	font-size: 26px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;	
}

/*
.search-form{
	display: block;
	position: absolute;
	top:0px;
	box-shadow: 0 0 24px -6px #856d69;
	width: 568px;
	padding: 57px 55px;
	margin: 0 auto;
	line-height: 26px;
	text-align: left;
	font-weight: bold;
	background: #ffffff;
}

.search-form label{
	float: left;
	width: 88px;
	text-align: left;
}

.date-field{
	width: 346px;

}
 */
.button{
	background-color: #81b3d2;
	color: white;
}


.footer{
	display: flex;
	margin: 0px;
	width: 1200px;
	padding-top:  78px;	 
}

.footer-list{
	margin: 0px;
	list-style-type: none;
}

.footer-description{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.footer-link{
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.footer-social{
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
	margin-bottom: 36px;
	padding-left: 3px;
}

.copyright{
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright a{
	margin-left: 6px;

}

.footer{
	background: rgba(255, 255, 255, 0.7);
	margin-top: -85px;
	position: relative;
}

.footer-list{
	width: 100%;
	padding-left: 0;
	text-align: center;
}

.footer-links{
	display: inline-block;
	vertical-align: middle;

}

.footer-links a{

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #81b3d2;
	width: 50px;
	height: 50px;
}

.footer-links a:hover{
	background-color: #669ec0;
}

.footer-links a:focus{
	background-color: #5496bd;
}

.footer-links a:focus path{
	fill:#88b6d1;
}


.footer-copyright :hover path{
	fill: #81b3d2;
}

.footer-copyright :active path{
	
	fill:#c9c8c8;
}

.map{
	width: 100%;
	height: 473px;
	text-align: center;
	 
}

/*стили для 2 страницы */

.catalog-form{
	 
  	background: url(../img/filter.png) no-repeat;	
	display: flex;
}

.catalog-form

/*.form-wrapper{
	margin-left: 73px;
	margin-right: 73px;

}
*/

.form-checkbox{
	width: 528px;
	display: flex;
	flex-direction: row;
	margin-left: 73px;
}


.infastructur{
	width: 240px;
}


.infastructur h2{
	margin: 0px;
	padding-top: 31px;
	padding-bottom: 29px;

}

.infastructur label:nth-child(3){
	padding-top: 23px;
	padding-bottom: 22px;
}
.infastructur label:nth-child(4){
	 
	padding-bottom: 31px;
}


.housing-type{
	width: 288px;
	padding-left: 15px;
}

.housing-type h2{
	margin: 0px;
	padding-top: 31px;
	padding-bottom: 29px;
}

.housing-type label:nth-child(3){
	 
	padding-top: 23px;
	padding-bottom: 22px;
}


.housing-type label:nth-child(4){
	 
	padding-bottom: 31px;
}
.filter-range {
	width: 330px;
	margin: 50px auto; /* для демо */
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
   margin-bottom: 9px;
   font-weight: 600;
   font-size: 16px;
   line-height: 21px;
}

.price-controls {
  position: relative;
  
   height: 36px;
   margin-bottom: 20px;
   font-size: 0;
   border: 2px solid #ffffff;
   border-radius: 2px;
}

.price-controls::after {
   content: "";
   position: absolute
;
   top: 50%;
   left: 50%;
   width: 2px;
   height: 22px;
   background: #ffffff;
   transform: translate(-50%, -50%);
}

.price-controls label {
   display: inline-block;
   font-size: 14px;
   line-height: 38px;
   vertical-align: top;
   cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.catalog-form p{
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.infastructur{
	display: flex;
	flex-direction: column;
}

.housing-type{
	display: flex;
	flex-direction: column;
}






.hotels-info{
	width: 1056px;
	display: flex;
	flex-direction: row;
	 
	margin-left: 73px;
}

.hotel-wrapper{
	display: flex;
	flex-direction: row;
	width:528px;
	margin-top: 30px;
 	margin-bottom: 30px; 
}

.hotels-info a{
	width: 110px;
	text-align:center;
	margin-right: 6px;
}

.hotels-info span{
	padding-top: 10px;
	padding-bottom: 20px;
}

.hotels-links{
	display: flex;
}

.hotels-price{
	display: flex;
	flex-direction: column;
}

.price-info{
	display: flex;
	flex-direction: column;
}

.price-info a{
	margin: 0px;
	width: 142px;
}

.about-hotels{
	display: flex;
	flex-direction: column;
}

.about-hotels h2{
	margin: 0px;
}

.about-hotels a:hover{
	color:#cacaca;
}

.about-hotels a:focus{
	color:#b9d3e4
}


.hotel-picture{

	margin: 0px;
 	padding-right: 30px;
}


.sorting{
	width: 1056px;
	 
	padding-top: 35px;
	padding-bottom: 33px;
}

.sorting h2{
	font-weight: bold;
	font-stretch: 21px;
	line-height: 26px;
	color: #000000;
	margin: 0px;
}

.sorting h3{
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: 0px;
}

.sorting ul{
	list-style-type: none;
}

.sorting a{
	text-decoration: none;
	color: #b1b1b1;
}

.sorting-button{
	margin: 0px;
	padding:0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 328px;
	margin-left: 200px;

}

 .sorting-by{
 	margin: 0px;
 	width: 528px;
 	padding:0px;
 	display:flex;
 	align-items: center;
 	justify-content: space-between;
 }

  .sorting-container{
 	margin-left: 73px;
	width: 1056px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 }


.sorting-button a{
	margin-left: 12px;

}

.sorting-by li{
	border-bottom: 1px dotted;
}

.sorting-by a:hover{
	color: #81b4d3;
}

.sorting-by a:focus{
	color: #000000;
}

.sorting-button a:hover{
	color: #000000;
}

.sorting-button a:focus{
	color: #81b4d3;
}

 



 


.rating{
	width: 328px;
	text-align: right;
	margin-left: 200px;
}


.title{
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.title a:hover{
	color: #81b3d2;
}

.title a:focus{
	color: #b2b2b2;
}


.about-hotels span{
	color: #333333;
	font-size: 14px;
	line-height: 10px;
	line-height:normal;
}


.about-hotels a{
	text-decoration: none;		
}


.about-hotels .more-info{
	background-color: #81b3d2;
	color: #ffffff;
	line-height: 21px;
	font-size: 14px;
}

.about-hotels .more-info:hover{
	background-color: #669ec0;

}

.about-hotels .more-info:focus{
	background-color: #5496bd;
	color: #88b6d1;
}

.about-hotels .booked{
	background-color: #766357;
	color: #ffffff;
	line-height: 21px;
	font-size: 14px;
}

.about-hotels .booked:hover{
	background-color: #604e43;
}

.about-hotels .booked:focus{
	background-color: #604e43;
	color: #857871;
}

.catalog-footer{
	background: rgba(255, 255, 255, 0.7);
	margin-top: 0px;
	position: relative;
	margin-bottom: 0px;
}